﻿@page
@model _201109_Asp_FooBar.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.ClockspeedMHz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.ClockspeedMHz)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Processor.TurobMHz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Processor.TurobMHz)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Processor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
