﻿@page
@model _201109_Asp_FooBar.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.YResolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.YResolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.XResolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.XResolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.MSRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.MSRP)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Monitor.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
