﻿@page
@model _201109_Asp_FooBar.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Monitor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.YResolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.YResolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.XResolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.XResolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monitor.MSRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monitor.MSRP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Monitor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
