﻿@page
@model _201109_Asp_FooBar.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Monitor[0].YResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitor[0].XResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monitor[0].MSRP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Monitor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.YResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.XResolution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSRP)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
